/* import Bradon fonts */
@font-face {
    src: url(../fonts/Brandon_reg.otf);
    font-family: Bradon_reg;
}

@font-face {
    src: url(../fonts/Brandon_med.otf);
    font-family: Bradon_med;
}

@font-face {
    src: url(../fonts/Brandon_light.otf);
    font-family: Bradon_light;
}

@font-face {
    src: url(../fonts/Brandon_bld.otf);
    font-family: Bradon_bold;
}

/* Global styles start */
/* * {
    margin: 0;
    padding: 0;
} */

body {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: Bradon_reg;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Bradon_med;
    font-size: 30px;
    font-weight: 700;
}

p {
    font-family: Bradon_reg;
    font-size: 18px;
    color: #777;
    text-align: justify;
}


.btn-primary {
    font-family: Bradon_bold;
    font-size: 23px;
    color: white;
    background-color: transparent;
    text-transform: capitalize;
    border: 3px solid white;
    padding: 16px 65px;
    border-radius: 6px;
    transition: .4s;
}

.btn-primary:hover {
    color: black;
    background-color: white;
}

.head-style {
    font-family: Bradon_bold;
    font-size: 60px;
    color: black;
    text-transform: capitalize;
}

.head-left {
    font-family: Bradon_light;
    font-size: 60px;
    color: black;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper-sm {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.mb-7 {
    margin-bottom: 70px !important;
}

.lead-para {
    font-size: 22px;
    text-align: center;
}

/* Global styles end */

/* home start */
#home {
    width: 100%;
    height: 100vh;
    background: url(../images/cover.jpg) no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.header {
    width: 100%;
    padding-top: 25px;
}

.brand {
    width: 12%;
    float: left;
    margin-top: 8px;
}

.brand img {
    width: 100%;
}

.main-nav {
    width: 70%;
    float: right;
}

.main-nav ul {
    float: right;
}

.main-nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
    transform: .4s;
}

.main-nav ul li:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid white;
}

.main-nav ul li a {
    font-family: Bradon_med;
    font-size: 18px;
    color: white;
    text-transform: capitalize;
}

.banner-area {
    padding-top: 18%;
    color: white;
    text-align: center;
    padding-bottom: 100px;
}

.banner-area h3 {
    font-family: Bradon_light;
    font-size: 32px;

}

.banner-area h1 {
    margin-top: 0;
    font-family: Bradon_bold;
    font-size: 65px;
    text-transform: uppercase;

}

/* home end */

/* development start */
#development {
    padding: 70px 0;
    overflow: hidden;
}

.dev-col-left {
    width: 60%;
    float: left;
}

.dev-col-right {
    width: 30%;
    float: right;
    margin-top: 100px;
}

/* development end */

/* branding start */
#branding {
    padding: 70px 0;
    background-color: #FAFAFA;
    overflow: hidden;
}


.brand-col-left {
    width: 30%;
    float: left;
    margin-top: 100px;
}

.brand-col-right {
    width: 60%;
    float: right;
}

/* branding end */

/* service start */
#service {
    padding: 70px 0;
}

.all-services {
    overflow: hidden;
}

.single-service {
    width: 45%;
    float: left;
    /* margin-right: 10%; */
    margin-bottom: 30px;
    overflow: hidden;
    /* border: 1px solid red; */
}

.single-service:nth-child(even) {
    margin-right: 0 !important;
    float: right;
}

.service-img {
    width: 18%;
    float: left;
    /* border: 1px solid black; */
    padding-top: 4%;
}

.service-img img {
    width: 100%;
}

.service-text {
    width: 74%;
    float: right;
    padding: 0 12px;
    /* border: 1px solid black; */
}

.service-text h3 {
    font-family: Bradon_med;
    font-size: 22px;
    color: black;
    font-weight: 500;
    margin-bottom: 0;
}

/* service end */

/* client start */
#client {
    padding: 70px 0;
    background-color: #FAFAFA;
}

.client-head {
    text-align: center;
    margin-bottom: 85px;
}

/* .client-head p {
    font-size: 22px;
    text-align: center;
} */

.client-head h1 {
    margin-bottom: 0;
}

.client-tetimonial {
    overflow: hidden;
}

.single-testimonial {
    width: 100%;
    margin-bottom: 100px;
    overflow: hidden;
    display: flex;
}

.testi-img {
    width: 18%;
    float: left;
    overflow: hidden;
    padding: 12px;
}

.testi-img img {
    width: 100%;
    border-radius: 50%;
    border: 6px solid white;

}


.testi-text,
.testi-text2 {
    width: 60%;
    float: left;
    padding: 25px 55px;
    background-color: #fff;
    margin: 0 30px;
    position: relative;
}

.testi-text::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 45%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid white;
    border-bottom: 10px solid transparent;
}

.testi-text2::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 45%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid white;
    border-bottom: 10px solid transparent;
    transform: rotate(180deg);
}

.testi-text .quote,
.testi-text2 .quote {
    font-size: 26px;
    line-height: 30px;
}

.testi-text .autor,
.testi-text2 .autor {
    font-size: 20px;
    color: #7690c5;
}

.reverse {
    flex-direction: row-reverse;
}

/* client end */

/* company start */
.brands {
    overflow: hidden;
    padding: 60px 0 50px;
    display: flex;
    justify-content: center;
}

.single-brands {
    float: left;
    padding: 0 3.8%;
}

.single-brands img {
    width: 100%;
}

/* company end */

/* team start */
#team {
    padding: 70px 0;
    margin: 0 auto;
    background-color: black;
}

.team-head {
    text-align: center;
}

.team-head h1,
.team-head .head-left {
    margin-bottom: 0;
    color: white;
}

.team-members {
    overflow: auto;
    margin-top: 100px;
}

.single-member {
    width: 30%;
    float: left;
    text-align: center;
    padding: 1.5%;
}

.single-member img {
    width: 90%;
    border-radius: 50%;
    border: 6px solid white;
}

.member-name {
    font-family: Bradon_bold;
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}

.single-member p {
    font-family: Bradon_reg;
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
    margin: 0;
}

.icons {
    color: white;
    margin-top: 20px;
}

.icons .fab {
    padding: 16px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin: 0 8px;
    font-size: 18px;
    height: 20px;
    width: 20px;
    transition: .4s;
}

.icons .fab:hover {
    color: #777;
    background-color: white;
}

.team-bottom {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 70px;
}

.team-bottom-p {
    font-family: Bradon_reg;
    font-size: 22px;
    color: white;
    text-align: center;
}

/* team end */

/* contact start */
#contact {
    padding: 70px 0;
    background-color: #7690c5;
}

.contact-head h1,
.contact-head .head-left {
    margin-bottom: 0;
    color: white;
}

.contact-para {
    font-size: 22px;
    text-align: left;
    color: white;
}

.contact-left {
    width: 50%;
    float: left;
}

.contact-social {
    overflow: hidden;
    margin-top: 70px;
    color: #fff;
}

.contact-social ul {
    overflow: hidden;
    margin-bottom: 40px;
}

.contact-social ul li {
    list-style-type: none;
    float: left;
    margin-right: 50px;
    min-width: 160px;
}

.contact-social ul li i {
    margin-right: 10px;
    font-size: 30px;
    vertical-align: text-bottom;
    min-width: 35px;
}

.contact-social ul li a {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.contact-right {
    width: 40%;
    float: left;
    margin: 5%;
}

.contact-right input,
.contact-right textarea {
    width: 100%;
}

.form-input {
    font-family: Bradon_med;
    display: block;
    border: none;
    padding: 15px 0 15px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.btn-area {
    overflow: hidden;
    width: 102%;
}

.btn-area button {
    font-family: Bradon_med;
    width: 46%;
    margin-right: 7%;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: .4s;
}

.btn-area button:focus {
    border: none;
    outline: none;
}

.btn-area button:hover {
    color: white;
    background-color: #777;
}

.btn-area button:last-child {
    margin-right: 0%;
}

/* contact end */

/* footer start */
#footer {
    padding: 20px 0;
    background-color: #7690c5;
    margin-top: -2px;
}

#footer p {
    font-family: Bradon_med;
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 12px;
}

/* footer end */




/********************************************
****    Responsive code as following ----->>>
********************************************/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .btn-primary {
        font-size: 16px;
        padding: 10px 30px;
    }

    .head-style,
    .head-left {
        font-size: 35px;
    }

    .lead-para {
        font-size: 16px;
    }

    /* home start */
    .brand {
        width: 20%;
    }

    .main-nav {
        display: none;
    }

    .banner-area {
        padding-top: 50%;
        padding-bottom: 50px;
    }

    .banner-area h3 {
        font-size: 18px;
    }

    .banner-area h1 {
        font-size: 30px;
    }

    /* home end */

    /* development start */
    #development {
        padding: 50px 0;
    }

    #development .wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .dev-col-left {
        width: 100%;
    }

    .dev-col-right {
        width: 100%;
        text-align: center;
    }

    .dev-col-right img {
        width: 70%;
    }

    /* development end */

    /* branding start */
    #branding {
        padding: 50px 0;
    }


    .brand-col-left {
        width: 100%;
        text-align: center;
    }

    .brand-col-left img {
        width: 70%;
    }

    .brand-col-right {
        width: 100%;
    }

    /* branding end */

    /* service start */
    /* #service {
        padding: 50px 0;
    }

    .single-service {
        width: 100%;
        text-align: center !important;
        padding: 20px 0;
        margin-left: 0 !important;
    }


    .service-img {
        width: 100%;
        padding-top: 4%;
    }

    .service-img img {
        width: 20%;
    }

    .service-text {
        width: 90%;
        padding: 0 12px;
    }

    .service-text h3 {
        font-size: 18px;
    } */
    #service {
        padding: 50px 0;
    }

    .single-service {
        width: 100%;
        padding: 20px 0;
        margin: auto;
        display: grid;
        justify-content: center;
        text-align: center;
    }


    .service-img {
        width: 100%;
        padding-top: 4%;
    }

    .service-img img {
        width: 20%;
    }

    .service-text {
        width: 95%;
        padding: 0 12px;
    }

    .service-text h3 {
        font-size: 18px;
    }

    /* service end */

    /* client start */
    #client {
        padding: 50px 0;
    }

    .client-head {
        margin-bottom: 55px;
    }

    .single-testimonial {
        width: 100%;
        display: table-row;
    }

    .testi-img {
        width: 100%;
        display: table-row;
        text-align: center;
    }

    .testi-img img {
        width: 50%;
        border-radius: 50%;
        border: 6px solid white;

    }


    .testi-text,
    .testi-text2 {
        width: 100%;
        padding: 15px 35px !important;
        margin: 0 10px;
        display: table-row;
        float: none;
    }

    .testi-text .quote,
    .testi-text2 .quote {
        font-size: 18px !important;
        line-height: 25px !important;
        padding: 25px !important;
    }

    .testi-text .autor,
    .testi-text2 .autor {
        font-size: 15px !important;
        padding: 0 20px;
    }

    .testi-text::before {
        content: none;
    }

    .testi-text2::after {
        content: none;
    }

    .testi-text .quote,
    .testi-text2 .quote {
        font-size: 26px;
        line-height: 30px;
    }

    .testi-text .autor,
    .testi-text2 .autor {
        font-size: 20px;
        color: #7690c5;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    /* client end */

    /* company start */
    .brands {
        display: grid;
        text-align: center;
    }

    .single-brands {
        float: left;
        padding: 20px 0;
    }

    .single-brands img {
        width: 70%;
    }

    /* company end */

    /* team start */
    #team {
        padding: 50px 0;
    }

    .single-member {
        width: 100%;
        margin-bottom: 50px;
    }

    .single-member img {
        width: 50%;
    }

    .member-name {
        font-size: 16px;
    }

    .single-member p {
        font-size: 14px;
    }

    .icons .fab {
        padding: 14px;
        font-size: 13px;
        height: 10px;
        width: 10px;
    }

    .team-bottom-p {
        font-size: 16px;
    }

    /* team end */

    /* contact start */
    #contact {
        padding: 50px 0;
    }

    .contact-head {
        text-align: center;
    }

    .contact-para {
        font-size: 18px;
        text-align: justify;
    }

    .contact-left {
        width: 100%;
    }

    .contact-social {
        margin-top: 50px;
    }

    .contact-social ul {
        overflow: hidden;
        margin-bottom: 5px;
    }

    .contact-social ul li {
        display: block;
        margin-bottom: 20px;
    }

    .contact-right {
        width: 100%;
        /* margin: auto; */
        margin-top: 50px;
    }

    .contact-right input,
    .contact-right textarea,
    .btn {
        width: 90%;
    }

    .form-input:focus {
        border: red;
    }

    .btn-area {
        width: 92%;
        /* margin: auto; */
    }

    .btn-area button {
        width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
    }

    /* contact end */

    /* footer start */
    #footer p {
        font-size: 13px;
    }

    /* footer end */
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .btn-primary {
        font-size: 16px;
        padding: 10px 50px;
    }

    /* home start */
    .brand {
        width: 20%;
    }

    .main-nav {
        display: none;
    }

    .banner-area {
        padding-top: 40%;
        padding-bottom: 50px;
    }

    .banner-area h3 {
        font-size: 22px;
    }

    .banner-area h1 {
        font-size: 48px;
    }

    /* home end */

    /* development start */
    #development {
        padding: 50px 0;
    }

    #development .wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .dev-col-left {
        width: 100%;
    }

    .dev-col-right {
        width: 100%;
        text-align: center;
    }

    .dev-col-right img {
        width: 60%;
    }

    /* development end */

    /* branding start */
    #branding {
        padding: 50px 0;
    }


    .brand-col-left {
        width: 100%;
        text-align: center;
    }

    .brand-col-left img {
        width: 60%;
    }

    .brand-col-right {
        width: 100%;
    }

    /* branding end */

    /* service start */
    #service {
        padding: 50px 0;
    }

    .single-service {
        width: 100%;
        padding: 20px 0;
        margin: auto;
        display: grid;
        justify-content: center;
        text-align: center;
    }


    .service-img {
        width: 100%;
        padding-top: 4%;
    }

    .service-img img {
        width: 20%;
    }

    .service-text {
        width: 95%;
        padding: 0 12px;
    }

    .service-text h3 {
        font-size: 18px;
    }

    /* service end */

    /* client start */
    #client {
        padding: 50px 0;
    }

    .client-head {
        margin-bottom: 55px;
    }

    .single-testimonial {
        width: 100%;
        display: table-row;
    }

    .testi-img {
        width: 100%;
        display: table-row;
        text-align: center;
    }

    .testi-img img {
        width: 50%;
        border-radius: 50%;
        border: 6px solid white;

    }


    .testi-text,
    .testi-text2 {
        width: 100%;
        padding: 15px 35px !important;
        margin: 0 10px;
        display: table-row;
        float: none;
    }

    .testi-text .quote,
    .testi-text2 .quote {
        font-size: 18px !important;
        line-height: 25px !important;
        padding: 25px !important;
    }

    .testi-text .autor,
    .testi-text2 .autor {
        font-size: 15px !important;
        padding: 0 20px;
    }

    .testi-text::before {
        content: none;
    }

    .testi-text2::after {
        content: none;
    }

    .testi-text .quote,
    .testi-text2 .quote {
        font-size: 26px;
        line-height: 30px;
    }

    .testi-text .autor,
    .testi-text2 .autor {
        font-size: 20px;
        color: #7690c5;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    /* client end */

    /* company start */
    .brands {
        display: grid;
        text-align: center;
    }

    .single-brands {
        float: left;
        padding: 20px 0;
    }

    .single-brands img {
        width: 70%;
    }

    /* company end */

    /* team start */
    #team {
        padding: 50px 0;
    }

    .single-member {
        width: 100%;
        margin-bottom: 50px;
    }

    .single-member img {
        width: 50%;
    }

    .member-name {
        font-size: 16px;
    }

    .single-member p {
        font-size: 14px;
    }

    .icons .fab {
        padding: 14px;
        font-size: 13px;
        height: 10px;
        width: 10px;
    }

    .team-bottom-p {
        font-size: 16px;
    }

    /* team end */

    /* contact start */
    #contact {
        padding: 50px 0;
    }

    .contact-head {
        text-align: center;
    }

    .contact-para {
        font-size: 18px;
        text-align: justify;
    }

    .contact-left {
        width: 100%;
    }

    .contact-social {
        margin-top: 50px;
    }

    .contact-social ul {
        overflow: hidden;
        margin-bottom: 5px;
    }

    .contact-social ul li {
        display: block;
        margin-bottom: 20px;
    }

    .contact-right {
        width: 100%;
        /* margin: auto; */
        margin-top: 50px;
    }

    .contact-right input,
    .contact-right textarea,
    .btn {
        width: 90%;
    }

    .form-input:focus {
        border: red;
    }

    .btn-area {
        width: 92%;
        /* margin: auto; */
    }

    .btn-area button {
        width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
    }

    /* contact end */

    /* footer start */
    #footer p {
        font-size: 16px;
    }

    /* footer end */
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .brand {
        margin-top: 22px;
    }

    .banner-area {
        padding-top: 40%;
    }

    .head-style,
    .head-left {
        font-size: 50px;
    }

    .dev-col-right img,
    .brand-col-left img {
        width: 100%;
    }

    .single-service {
        width: 100%;
    }

    .testi-img {
        width: 22%;
    }

    .icons .fab {
        padding: 8px;
        margin: 0 4px;
        font-size: 18px;
    }

    .contact-right {
        margin: 110px 5% 0;
    }

    .btn-area {
        width: 104%;
    }

    .btn-area button {
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-social ul li {
        margin-bottom: 15px;
    }

    #footer {
        margin-top: -2px;
    }

    #footer p {
        font-size: 20px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .banner-area {
        padding-top: 25%;
    }


    .service-img {
        width: 20%;
    }

    .service-text {
        width: 71%;
    }

    .icons .fab {
        padding: 14px;
        margin: 0 6px;
    }

    .contact-social ul li {
        margin-bottom: 20px;
    }

    .contact-right {
        margin: 140px 5% 0;
    }

    .btn-area {
        overflow: hidden;
        width: 104%;
    }

    .btn-area button {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}